<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Andy Keller</title>

    <!-- Bootstrap Core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom Theme CSS -->
    <link href="css/style.css" rel="stylesheet">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">
                  <span class="light">Andy</span> Keller
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#resume">Resume</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#discvry">Discvry</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <section id="intro" class="intro header" data-speed="0" data-type="background" data-shift="0">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">
                            <!--<img class="featurette-image img-circle img-responsive center-block" src="http://placehold.it/300x300">-->
                            <img class="featurette-image img-circle img-responsive center-block" width="300" src="img/profile-10.jpg">
                        </h1>
                        <p class="intro-text">Systems Engineer | Developer | Entrepreneur</p>
                        <div class="page-scroll">
                            <a href="#about" class="btn btn-circle">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="caption pull-left">
                  <p class="text-muted">Regensburg, Germany</p>
                </div>
            </div>
        </div>
    </section>
    
    <div class="spacer"></div>

    <section id="about" class="content-section text-center">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2 section-heading">
                <h2>About</h2>
            </div>
            <div class="row section-content">
              <div class="col-md-12">
                <h3>Academic</h3>
                <p>My name is Andreas Keller, or more commonly known as Andy, and I currently attend the School of Engineering and Applied Science (SEAS) at the University of Virginia. To tell you a little about myself, my primary major is systems engineering with a focus in financial engineering, and I am also working on a secondary major in economics and a minor in engineering business. I have had the honor of being accepted into two scholar programs here at the University. One is the Technology Leadership Program, which is a highly competitive program dedicated to interdisciplinary learning and leadership. The other is the Rodman Scholar Program, which consists of the top 5% of students enrolled in SEAS and is dedicated to outstanding academic performance, sustainability, and community culture and leadership.</p>
              </div>
              <div class="col-md-12">
                <h3>Practical</h3>
                <p>I have used much of what I have learned during my academic career in several of my experiential activities. These activities include being a section leader in the Cavalier Marching Band, being the founder and president of the Math Modeling Group at UVA (which competes every year in the Mathematical Contest in Modeling), being an undergraduate research assistant, and several personal projects. To elaborate briefly on my research position, I am currently assisting the Predictive Technology Laboratory (PTL) develop two open source software projects: an open research platform and a crime prediction platform. The open research platform allows researchers and data scientists to access PTL datasets and compete with each other to develop the best forecaster. The crime prediction platform (Asymmmetric Threat Tracker) will allow municipalities to input data to predict where crimes are more likely to occur.</p>
              </div>
              <div class="col-md-12">
                <h3>Passion</h3>
                <p>Now to disuss my true passion, my personal projects, which I have now consolidated under the name, <a href="http://www.discvry.com">Discvry</a>. These projects consist of several ideas that I believe will impact the world for the better. One in particular I feel will be my life’s work. I have a vision of developing a web portal through which an artist can attain any and all of his or her marketing needs, allowing for him or her to focus primarily on creating the art that makes this world so wonderful. My other ideas include a low net worth private wealth management software plateform, location based event updates, and crowdsourced education funding,among others. Ever since I can remember, I have wanted to help people (along with perhaps making a name for myself). These projects are my best bet at making peoples’ lives easier and changing the world, and I am dedicated to making them a reality.</p>
              </div>
            </div>
        </div>
    </section>

    <section id="resume" class="resume-section text-center" data-speed="0" data-type="background" data-shift="0">
      <div class="resume-filter">
        <div class="container resume-container">
            <div class="col-lg-8 col-lg-offset-2 section-heading">
                <h2>Resume</h2>
            </div>
            <div class="row section-content">
                <div class="col-md-7 resume-content">
                  <h3>Experience</h3>
                  
                  <div class="resume-element">
                    <p class="element-heading">Epic - <a href="http://www.epic.com">epic.com</a></p>
                    <i>Software Developer</i>
                    <ul type="square">
                      <li>Developing the software that enables hospitals to run efficiently and effectively</li>
                    </ul>
                  </div>
                  
                  <div class="resume-element">
                    <p class="element-heading">Predictive Technologies Laboratory - <a href="http://ptl.sys.virginia.edu/ptl/">ptl.sys.virginia.edu/ptl</a></p>
                    <i>Undergraduate Research Assistant</i>
                    <ul type="square">
                      <li>Assisting in the development of crime prediction software</li>
                      <li>Developing and online open research platform</li>
                        <ul type="square">
                          <li>Researchers and data scientists will be able to access PTL data sets and compete with each other to create the best forecaster</li>
                        </ul>
                    </ul>
                  </div>
                  <div class="resume-element">
                    <p class="element-heading">Discvry, LLC - <a href="http://www.discvry.com">discvry.com</a></p>
                    <i>Founder and Developer</i>
                    <ul type="square">
                      <li>Developing a variety of software projects including an artist social network, a low net worth private wealth management platform, location based event updates, and crowdfunded education</li>
                    </ul>
                  </div>
                  
                  <div class="resume-element">
                    <p class="element-heading">Math Modeling Group at UVA and Virginia Case Competition Association</p>
                    <i>Founder, President, and Financial Officer</i>
                    <ul type="square">
                      <li>Dedicated to raising awareness towards mathematical modeling and its applications</li>
                    </ul>
                  </div>
                </div>
                
                <div class="col-md-5 resume-content">
                  <h3>Education</h3>
                  <div class="resume-element">
                    <p class="element-heading">University of Virginia</p>
                    <i>School of Engineering and Applied Sciences</i>
                    <ul type="square">
                      <li>Major: Systems and Information Engineering</li>
                      <li>Secondary Major: Economics</li>
                      <li>Minor: Engineering Business</li>
                      <li>Current GPA: 3.84</li>
                    </ul>
                  </div>
                  <div class="resume-element">
                    <p class="element-heading">Mills E. Godwin High School</p>
                    <i>Science, Math, and Technology Specialty Center</i>
                    <ul type="square">
                      <li>Cumulative GPA: 5.17</li>
                    </ul>
                  </div>
                  
                  <h3>Skills</h3>
                  <div class="resume-element">
                    <p class="element-heading">Technical Languages</p>
                    <ul type="none">
                      <li>Python | Java | SQL | PHP | HTML | CSS | Javascript | XML</li>
                    </ul>
                  </div>
                  
                  <div class="resume-element">
                    <p class="element-heading">Platforms</p>
                    <ul type="none">
                      <li>Google App Engine | AWS | webapp2 | Wordpress | Drupal | Matlab | Stata | R</li>
                    </ul>
                  </div>
                  
                  <div class="resume-element">
                    <p class="element-heading">Foreign Languages</p>
                    <ul type="none">
                      <li>German | Vietnamese | French</li>
                    </ul>
                  </div>
                </div>
            </div>
            <div class="caption pull-left">
              <p class="text-muted">University of Virginia</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section id="discvry" class="content-section text-center">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2 section-heading">
                <h2>Discvry</h2>
            </div>
            <div class="row section-content">
              <div class="col-md-4">
                <h3>About</h3>
                <p>Discvry is an organization I founded in order to gather and develop my ideas under one name. Visit our website for more information: <a href="http://www.discvry.com">Discvry</a></p>
              </div>
              <div class="col-md-4">
                <h3>Mission</h3>
                <p>Our mission is to develop software based products that benefit humanity. We sum this up in two statements:</p>
                <div class="mission">
                <h3 class="mission-element">"Make Money,</h3>
                <h3 class="mission-element pull-right">Change the World."</h3>
                </div>
              </div>
              <div class="col-md-4">
                <h3>Current Projects</h3>
                <ul type="square">
                  <li>An artist's social network to provide any and all marketing needs</li>
                  <li>Low net worth private wealth management software platform</li>
                  <li>Location based event and notification updates</li>
                  <li>Crowdsourced education funding</li>
                </ul>
              </div>
            </div>
        </div>
    </section>

    <section id="contact" class="contact-section text-center" data-speed="0" data-type="background" data-shift="0">
    <div class="contact-filter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-lg-offset-0">
                    <h2>Contact or Follow Me</h2>
                    <ul class="list-inline banner-social-buttons">
                        <li><a href="mailto:alk2pb@virginia.edu" class="btn btn-default btn-lg btn-margin" target="_blank"><span class="glyphicon glyphicon-envelope"></span></i> <span class="network-name">E-Mail</span></a>
                        </li>
                        <li><a href="https://plus.google.com/u/0/108735871269718468972/posts" class="btn btn-default btn-lg btn-margin" target="_blank"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                        </li>
                        <li><a href="https://www.facebook.com/andyltkeller" class="btn btn-default btn-lg btn-margin" target="_blank"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                        <li><a href="https://twitter.com/andyltkeller" class="btn btn-default btn-lg btn-margin" target="_blank"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li><a href="https://www.linkedin.com/pub/andreas-keller/41/b30/7aa/" class="btn btn-default btn-lg btn-margin" target="_blank"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
                        </li>
                        <li><a href="https://github.com/alk2pb" class="btn btn-default btn-lg btn-margin" target="_blank"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="caption pull-left">
              <p class="text-muted">Richmond, Virginia</p>
            </div>
        </div>
      </div>
      
  </section>
  <footer class="footer">
    <div class="container">
      <ul class="list-inline">
          <li class="page-scroll"><a href="#about">About</a>
          </li>
          <li class="footer-menu-divider">⋅</li>
          <li class="page-scroll"><a href="#resume">Resume</a>
          </li>
          <li class="footer-menu-divider">⋅</li>
          <li class="page-scroll"><a href="#discvry">Discvry</a>
          </li>
          <li class="footer-menu-divider">⋅</li>
          <li class="page-scroll"><a href="#contact">Contact</a>
          </li>
      </ul>
      <p class="text-muted">© Discvry, LLC 2014</p>
    </div>
  </footer>
    
    

    <!-- <div id="map"></div> -->

    <!-- Core JavaScript Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - You will need to use your own API key to use the map feature -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/script.js"></script>
    
    <script>
      $(document).ready(function(){
        /*if ($(window).width() >= 766) {
        	  $("#intro").data("speed", 10);
        	  $("#resume").data("speed", 10);
        	  $("#contact").data("speed", 10);
        	  $("#resume").data("shift", 250);
        	  $("#contact").data("shift", 450);
        }*/
        
        /*if ($(window).width() >= 992) {
        	  $("#intro").data("speed", 10);
        	  $("#resume").data("speed", 10);
        	  $("#contact").data("speed", 10);
        	  $("#resume").data("shift", 300);
        	  $("#contact").data("shift", 450);
        }*/
        
        if ($(window).width() >= 1200) {
        	  $("#intro").data("speed", 10);
        	  $("#resume").data("speed", 10);
        	  $("#contact").data("speed", 10);
        	  $("#resume").data("shift", 250);
        	  $("#contact").data("shift", 450);
        }
        
        /*$(window).resize(function() {
        	  var d = new Date();
            $(".resume-section").css("background", "url(../img/uva-10.jpg?"+d.getTime()+") no-repeat center center fixed");
          }
        });*/
        
        
      	// Cache the Window object
      	$window = $(window);
                      
         $('section[data-type="background"]').each(function(){
           var $bgobj = $(this); // assigning the object
           
                          
            $(window).scroll(function() {
                          
      		// Scroll the background at var speed
      		// the yPos is a negative value because we're scrolling it UP!
      		var yPos = -($window.scrollTop() / $bgobj.data('speed')) + $bgobj.data('shift');
      		
      		// Put together our final background position
      		var coords = '50% '+ yPos + 'px';
      
      		// Move the background
      		$bgobj.css({ backgroundPosition: coords });
      		
      }); // window scroll Ends
      
       });
      
      });
      /*
       * Create HTML5 elements for IE's sake
       */
      
      document.createElement("article");
      document.createElement("section");
    </script>

</body>

</html>
