/* Custom Stylesheet */
html, body {
  height: 100%;
}

body {
  overflow: hidden;
}

.navbar-fixed {
  height: 0px;
}

.bottom nav {
  bottom: 0px;
}

nav {
  background-color: transparent;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0), 0 2px 10px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0), 0 2px 10px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0), 0 2px 10px 0 rgba(0, 0, 0, 0);
}

nav ul a i,
.logo {
  font-size: 2.1rem;
}

nav .nav-wrapper ul li:hover {
  background-color: transparent;
}

.dropdown-button {
  cursor: pointer;
}

nav .nav-wrapper .dropdown-content i {
  line-height: 0px;
}

.dropdown-content {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  /*width: 150px;*/
  margin-top: 5px;
}

.dropdown-content li>a {
  /*padding: 0 0;*/
  /*height: 44px;*/
  /*line-height: 44px;*/
}

nav .nav-wrapper .dropdown-content i {
  font-size: 20px;
  display: inline;
  margin-right: 5px;
}

.copyright {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 1;
}

#nav-left, #nav-right {
  position: relative;
  z-index: 2;
}

nav .nav-wrapper i.copyright-icon {
  font-size: 14px;
  display:inline;
}

#projects,
.slider,
.slick-list {
  height: 100%;
}

.slick-slide {
  color: #fff;
  font-size: 5rem;
}

.middle {
  margin: 0px;
  vertical-align: middle;
}

.slick-dots {
  margin: 0px;
  padding: 0px;
  position: absolute;
}

.slick-dots li .btn {
  padding: 0px;
  width: 12px;
  height: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 26px;
  background-color: #fff;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

@media(max-height:400px) {
  .slick-dots li .btn {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media(max-width:600px) {
  .slick-dots li .btn {
    margin-left: 22px;
  }
  
  nav .nav-wrapper i {
    line-height: 56px;
  }
  
  #nav-left i, 
  #nav-right i {
    font-size: 1rem;
  }
}

.material-tooltip {
  padding: 8px;
  min-height: 1px;
  z-index: 1000;
}

.backdrop {
  will-change: initial;
}

.slick-dots li .btn:hover {
  webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.slick-active .btn {
  background-color: #ff9800 !important;
}

.made-by {
  display: inline;
}

@media(max-width:600px) {
  #nav-left li a,
  #nav-right li a {
    padding: 0 5px;
  }

  #nav-left {
    padding-left: 10px;
  }

  #nav-right {
    padding-right: 10px;
  }

  .made-by {
    display: none;
  }
}

@media(max-width:350px) {
  #nav-left li a,
  #nav-right li a {
    padding: 0 2px;
  }

  #nav-left {
    padding-left: 10px;
  }

  #nav-right {
    padding-right: 10px;
  }
}

.logo-link {
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.logo-link:hover {
  text-decoration: underline;
}

.inline {
  display: inline;
}

i {
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.btn-email:hover,
.btn-email:focus,
.btn-email:active {
  color: #7aa9f7;
}

.btn-google:hover,
.btn-google:focus,
.btn-google:active {
  color: #e05d4c;
}

.btn-youtube:hover,
.btn-youtube:focus,
.btn-youtube:active {
  color: #e7423c;
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active {
  color: #8b9dc3;
}

.btn-instagram:hover,
.btn-instagram:focus,
.btn-instagram:active {
  color: #789cb9;
}

.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active {
  color: #66b4ef;
}

.btn-linkedin:hover,
.btn-linkedin:focus,
.btn-linkedin:active {
  color: #3a91c3;
}

.btn-github:hover,
.btn-github:focus,
.btn-github:active {
  color: #669bcf;
}